<div class="container">
    <div class="row">
        <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="row ">
                <div style="border-radius:15px ;" class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 p-5 mb-5  bg-light container-fluid">
                    <h1 class="text-dark m-1 text-center">EDIT COLUMNS</h1>
                    <hr class="m-5">
                    
                    <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-2">
                        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                            
                            <div class="mb-2">
                                <label class="form-label">Table Name: {{tableName}}</label>
                            </div>

                            <div class="mb-2">
                              <label for="name" class="form-label">Name<label class="astric">*</label></label>
                              <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" formControlName="name">
                            </div>
                            <div>
                                <small  *ngIf="!reactiveForm.get('name').valid && isSubmitted">
                                    Name is a required field</small>
                            </div>
                            <div class="mb-2">
                              <label for="dataType" class="form-label">Data Type<label class="astric">*</label></label>
                                
                                    <select class="form-select" id="dataType" name="dataType" 
                                        (ngModelChange)="handleSelectChange($event)" formControlName="dataType" [(ngModel)]="selectedDataType">
                                        <option value="Date">Date</option>
                                        <option value="Decimal">Decimal</option>
                                        <option value="Integer">Integer</option>
                                        <option value="Text">Text</option>
                                        <option value="Unique Identifier">Unique Identifier</option>
                                    </select>
                               
                            </div>
                            <div>
                                <small  *ngIf="!reactiveForm.get('dataType').valid && isSubmitted">
                                    Please select a data type</small>
                            </div>
                            <div class="mb-1">
                                <label for="dataSize" class="form-label">Data Size<label *ngIf="isRequiredField('dataSize')" class="astric">*</label></label>
                                <input type="number" class="form-control" id="dataSize" name="dataSize" [(ngModel)]="size" formControlName="dataSize">
                            </div>
                            <small  *ngIf="!reactiveForm.get('dataSize').valid && isSubmitted
                                && reactiveForm.get('dataType').value !='Date' && reactiveForm.get('dataType').value !='Unique Identifier'">
                                Please enter a data size</small>
                            <div class="mb-1">
                                <label for="dataScale" class="form-label">Data Scale<label *ngIf="isRequiredField('dataSize')" class="astric">*</label></label>
                                <input type="number" class="form-control" id="dataScale" name="dataScale" [(ngModel)]="scale" formControlName="dataScale">
                            </div>
                            <small  *ngIf="!reactiveForm.get('dataScale').valid && isSubmitted
                            && reactiveForm.get('dataType').value =='Decimal' ">
                            Please enter a data scale</small>
                            <div class="mb-1 form-check">
                                <label class="form-check-label" for="encrypted">Encrypted</label>
                                <input type="checkbox" class="form-check-input" id="encrypted" name="encrypted" formControlName="encrypted">
                            </div>
                            <div class="mb-1">
                                <label for="distortion" class="form-label">Distortion</label>
                                <input type="text" class="form-control" id="distortion" name="distortion" formControlName="distortion">
                            </div>
                            <div class="mb-3">
                                <label for="comments" class="form-label">Comments</label>
                                <input type="text" class="form-control" id="comments" name="comments" formControlName="comments">
                            </div>
                            <button type="submit" class="btn btn-primary button-submit">Submit</button>
                          </form>
                          <div class="col col-lg-12 ">
                            <button class="btn btn-outline-dark my-2 float-end" routerLink="/">Back -></button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
