<div class="container">
    <div class="row">
        <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="row ">
                <div style="border-radius:15px ;" class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 p-5 mb-5  bg-light container-fluid">
                    <h1 class="text-dark m-1 text-center">EDIT COLUMNS</h1>
                    <hr class="m-5">
                    
                    <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-2">
                        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Table Name: {{tableName}}</label>
                            </div>

                            <div class="mb-2">
                              <label for="exampleInputEmail1" class="form-label">Name</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
                            </div>
                            <div class="mb-2">
                              <label for="exampleInputEmail1" class="form-label">Data Type</label>
                                
                                    <select class="form-select" aria-label="Default select example" formControlName="dataType">
                                        <option selected>Select a Data Type</option>
                                        <option value="Date">Date</option>
                                        <option value="Decimal">Decimal</option>
                                        <option value="Integer">Integer</option>
                                        <option value="Text">Text</option>
                                        <option value="Unique Identifier">Unique Identifier</option>
                                    </select>
                               
                            </div>
                            <div class="mb-1">
                                <label for="exampleInputPassword1" class="form-label">Data Size</label>
                                <input type="number" class="form-control" formControlName="dataSize">
                            </div>
                            <div class="mb-1">
                                <label for="exampleInputPassword1" class="form-label">Data Scale</label>
                                <input type="number" class="form-control" formControlName="dataScale">
                            </div>
                            <div class="mb-1 form-check">
                                <label class="form-check-label" for="exampleCheck1">Encrypted</label>
                                <input type="checkbox" class="form-check-input" formControlName="encrypted">
                            </div>
                            <div class="mb-1">
                                <label for="exampleInputPassword1" class="form-label">Distortion</label>
                                <input type="text" class="form-control" formControlName="distortion">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Comments</label>
                                <input type="text" class="form-control" formControlName="comments">
                            </div>
                            <button type="submit" class="btn btn-primary button-submit">Submit</button>
                          </form>
                          <div class="col col-lg-12 ">
                            <button class="btn btn-outline-dark my-2 float-end" routerLink="/">Back -></button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
