<div class="container">
    <div class="row">
        <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="row ">
                <div style="border-radius:15px ;" class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 p-5 mb-5  bg-light container-fluid">
                    <h1 class="text-dark m-1 text-center">EDIT COLUMNS</h1>
                    <hr class="m-5">
                    
                    <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-2">
                        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                            <div class="mb-2">
                                <label  class="form-label">Please Select a Table</label>
                                <div class="row mb-5">
                                    <div class="dropdown">
                                        <a class="btn btn-primary dropdown-toggle"  role="button" id="tableDropDownId" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tables
                                        </a>
                                      
                                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="tableDropdownMenuLink">
                                          <li  *ngFor="let i of tableNames" (click)="onClickTableSelect(i.id,i.name)">{{i.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                                 
                            </div>

                            <div class="mb-2">
                                <label class="form-label">Table Name: {{tableName}}</label>
                            </div>

                            <div class="mb-2">
                              <label for="name" class="form-label">Name</label>
                              <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" formControlName="name">
                            </div>
                            <div>
                                <small  *ngIf="!reactiveForm.get('name').valid && reactiveForm.get('name').touched">
                                    Name is a required field</small>
                            </div>
                            <div class="mb-2">
                              <label for="dataType" class="form-label">Data Type</label>
                                
                                    <select class="form-select" id="dataType" name="dataType" 
                                        (ngModelChange)="handleSelectChange($event)" formControlName="dataType" [(ngModel)]="selectedDataType">
                                        <option value="Date">Date</option>
                                        <option value="Decimal">Decimal</option>
                                        <option value="Integer">Integer</option>
                                        <option value="Text">Text</option>
                                        <option value="Unique Identifier">Unique Identifier</option>
                                    </select>
                               
                            </div>
                            <div>
                                <small  *ngIf="!reactiveForm.get('dataType').valid && reactiveForm.get('dataType').touched">
                                    Please select a data type</small>
                            </div>
                            <div class="mb-1">
                                <label for="dataSize" class="form-label">Data Size</label>
                                <input type="number" class="form-control" id="dataSize" name="dataSize" formControlName="dataSize">
                            </div>
                            <small  *ngIf="!reactiveForm.get('dataSize').valid && reactiveForm.get('dataSize').touched
                                && reactiveForm.get('dataType').value !='Date' && reactiveForm.get('dataType').value !='Unique Identifier'">
                                Please select a data size</small>
                            <div class="mb-1">
                                <label for="dataScale" class="form-label">Data Scale</label>
                                <input type="number" class="form-control" id="dataScale" name="dataScale" formControlName="dataScale">
                            </div>
                            <small  *ngIf="!reactiveForm.get('dataScale').valid && reactiveForm.get('dataScale').touched
                            && reactiveForm.get('dataType').value =='Decimal'">
                            Please select a data scale</small>
                            <div class="mb-1 form-check">
                                <label class="form-check-label" for="encrypted">Encrypted</label>
                                <input type="checkbox" class="form-check-input" id="encrypted" name="encrypted" formControlName="encrypted">
                            </div>
                            <div class="mb-1">
                                <label for="distortion" class="form-label">Distortion</label>
                                <input type="text" class="form-control" id="distortion" name="distortion" formControlName="distortion">
                            </div>
                            <div class="mb-3">
                                <label for="comments" class="form-label">Comments</label>
                                <input type="text" class="form-control" id="comments" name="comments" formControlName="comments">
                            </div>
                            <button type="submit" class="btn btn-primary button-submit" [disabled]="!reactiveForm.valid">Submit</button>
                          </form>
                          <div class="col col-lg-12 ">
                            <button class="btn btn-outline-dark my-2 float-end" routerLink="/">Back -></button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
