<div class="container">
    <div class="row">
        <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="row ">
                <div style="border-radius:15px ;" class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 p-5 mb-5  bg-light container-fluid">
                    <h1 class="text-dark m-1 text-center">SERCH COLUMNS</h1>
                    <hr class="m-5">
                    
                    <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-5">
                        <!-- Table drop down starting -->
                        <div class="row mb-5">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Tables
                                </a>
                              
                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
                                  <li (click)="getColumnDetailesByTableId(i.id)" *ngFor="let i of tableNames">{{i.name}}</li>
                                </ul>
                              </div>
                        </div>
                        <!-- Table drop down Ending -->

                        <!-- serching input field starting -->
                        <div class="row">
                            <div class="col col-lg-2">
                                <label for="" class="label-control">Table Column Name:</label>
                            </div>
                            <div class="col col-lg-4">
                                <input type="text" class="form-control" placeholder="Search a column" name="searchText" [(ngModel)]="searchText">
                            </div>
                            <div class="col col-lg-4 me">
                                <button class="btn btn-outline-secondary">Create New Column</button>
                            </div>
                        </div>
                        <!-- serching input field Ending -->
                        <!-- column detiles table starting -->
                        <div class="pe-5 me-5 mt-5">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Comment</th>
                                    <th scope="col">Click To</th>
                                    <th scope="col">Click To</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of columnDetailes | search:searchText | paginate: { itemsPerPage: 5, currentPage: page,totalItems:lengthofData}">
                                        <th scope="row">1</th>
                                        <td>{{i.name}}</td>
                                        <td>{{i.type}}</td>
                                        <td>{{i.comment}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="has-text-centered ">
                                <pagination-controls (pageChange)="page = $event"></pagination-controls>
                            </div>
                        </div>
                        <!-- column detiles table Ending -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
